<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edit a list
        </h1>

        <input #listTitleInput type="text" class="input has-background-light is-medium" [ngClass]="{ 'is-danger': hasClickedOut && !inputValue}" placeholder="Enter list name..." (focus)="hasClickedOut = false" (blur)="onInputBlur(listTitleInput.value)">
        <br><br>
        <div class="buttons is-right">
            <button class="button is-medium" routerLink="/">Cancel</button>
            <button class="button is-primary has-text-white is-medium" (click)="updateList(listTitleInput.value)" [disabled]="isInputEmpty">Save</button>
        </div>
    </div>
</div>